/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #01022e; text-decoration: none; outline: none
} 
a:hover, a:active {
	text-decoration: none; color:#fff; background-color:#f59000;
}
/* -- reset -- */

*, cite, p, span {
	line-height: 1.7rem;
	font-size: 1.4rem;
	text-align: center;
}

h1 {
	line-height: 3rem;
	font-size: 3rem;
	font-weight: bold;
	color:azure;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 1px 1px 2px rgb(235, 129, 129), 0 0 1em rgb(129, 94, 255), 0 0 0.2em rgb(91, 91, 255);
}

header {
	padding: 2rem 7rem;
	background-color:paleturquoise;
}
nav {
	padding: 1rem 1.7rem;
}
aside {
	padding: 1rem 1.7rem;
}
main {
	padding: 1.7rem 2rex;
}
footer {
	width: 100%;
	align-items: center;
	padding: 1rem 2rem;
	position: fixed;
	bottom:0;
	background-color:paleturquoise;
}

section {
	padding: 1em 0 ;
}

article {
	padding: 1em 0 ;
}

.menu li {
	width: 7rem;
	display: inline-block;
}

.menu li .active {
	background-color:paleturquoise;
}

.menu li a{
	display: block;
	width: 100%;
}